:root {
    --light-gray: #F8F9FA;
    --text-color: #333333;
    --btn-color: #4F46E5;
    --navy: #1E3A8A;
    --dark-gray: #6B7280;
    --green: #10B981;
    --btn-hover: #221e71;
    --light-gray-hover: #a2a5a8;
    --green-hover: #04573b;
    --home-btn: #4F46E5;
    --bg-gradient: linear-gradient(#E0E7FF, #F5F5F5);
}

/* Header + Nav */
header {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    position: sticky;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    margin: 0 5px;
}

nav p,
a {
    color: var(--text-color);
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
}

.login-btn {
    background-color: var(--btn-color);
    color: var(--light-gray);
}

.signup-btn {
    background-color: var(--green);
    color: var(--light-gray);
}

.home-btn {
    border: 1px solid var(--text-color);
}

/* Hover Styles */
.login-btn:hover {
    background-color: var(--btn-hover);
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: var(--green-hover);
    transition: 0.3s
}

.home-btn:hover {
    background-color: var(--light-gray-hover);
    border: 1px solid var(--light-gray-hover);
    transition: 0.3s;
}


nav .title:hover {
    border-bottom: 2px solid var(--btn-color);
    transition: 0.3s;
    cursor: pointer;
}



/* Landing Page */

.main-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: var(--bg-gradient)
}



.cta-container {
    text-align: center;
}

.cta-container h1 {
    font-size: 2.125rem;
    color: var(--navy);
}

.cta-container p {
    font-size: 1.5rem;
    color: var(--dark-gray);
    margin-bottom: 20px;
}

.cta-container .cta-btn {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 0 5px;
}

.resume-btn {
    background-color: var(--green);
    color: var(--light-gray);
}

.features-btn {
    background-color: var(--btn-color);
    color: var(--light-gray);
}


.resume-btn:hover {
    animation: pulse 1.5s ease-in-out infinite;
}


.features-btn:hover {
    animation: animate 1.5s ease-in-out infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: var(--green);

    }

    50% {
        transform: scale(1.1);
        background-color: #18d999;

    }

    100% {
        transform: scale(1);
        background-color: var(--green);
    }
}


@keyframes animate {
    0% {
        transform: scale(1);
        background-color: var(--btn-color);
    }

    50% {
        transform: scale(1.1);
        background-color: #30289c;

    }

    100% {
        transform: scale(1);
        background-color: var(--btn-color);

    }
}

/* Features Page */

.features-section h1 {
    margin-bottom: 25px;
    color: var(--navy);
    font-size: 2.125rem;
}

.features-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
}

.features-container .font-icon {
    height: 50px;
    margin: 0 50px;
}

.font-text {
    color: var(--dark-gray);
    font-weight: 600;
    margin-top: 5px;
}

.cta-upload-btn {
    background-color: var(--green);
    color: var(--light-gray);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-bottom: 25px;
}

.cta-upload-btn:hover {
    background-color: var(--green-hover);
    transition: 0.3s;
}


/* Resume Page */

form {
    background-color: var(--light-gray);
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.input-div label {
    font-size: 1.2rem;
    color: var(--text-color);
}

.form-input {
    width: 100%;
    padding: 8px 16px;
    margin: 20px 0;
    border-radius: 5px;

}


input[type="submit"] {
    width: 40%;
    margin: auto;
    padding: 8px 16px;
    background-color: var(--green);
    color: var(--light-gray);
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: var(--green-hover);
    transition: 0.3s;
    cursor: pointer;
}


/* Footer */
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer-container a {
    text-decoration: none;
    color: var(--text-color);
}

.footer-links a {
    margin: 0 5px;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
    nav {
        font-size: 0.8rem
    }

    .btn {
        padding: 4px 8px;
    }

    .footer-container {
        font-size: 0.8rem
    }

    form {
        width: 50%;

    }

    .input-div label {
        font-size: 0.9rem;
    }

    .form-input {
        padding: 5px 10px;
    }

}

@media only screen and (max-width: 768px) {
    nav {
        font-size: 1rem;
    }


}